[Unit]
Description=pi spider daemon

[Service]
Type=simple
WorkingDirectory=/home/hy/code/pi_spider
ExecStartPre=/bin/sleep 20
ExecStart=node index.js
KillMode=process
Restart=on-failure
RestartSec=30s
User=hy
Group=hy

[Install]
WantedBy=multi-user.target